{
	"env" : {
		"node"	: true,
		"mocha"	: true
	},

	"globals" : {
	},

	"rules" : {
		"comma-dangle"				: "error",
		"no-cond-assign"			: "error",
		"no-console"				: "off",
		"no-constant-condition"		: "error",
		"no-dupe-args"				: "error",
		"no-dupe-keys"				: "error",
		"no-duplicate-case"			: "error",
		"no-empty"					: "error",
		"no-empty-character-class"	: "error",
		"no-ex-assign"				: "error",
		"no-extra-boolean-cast"		: "error",
		"no-extra-semi"				: "error",
		"no-inner-declarations"		: "error",
		"no-invalid-regexp"			: "error",
		"no-irregular-whitespace"	: "error",
		"no-negated-in-lhs"			: "error",
		"no-obj-calls"				: "error",
		"no-reserved-keys"			: "off",
		"no-sparse-arrays"			: "error",
		"no-unreachable"			: "error",
		"use-isnan"					: "error",
		"valid-typeof"				: "error",

		"complexity"				: [ "error", 8 ],
		"consistent-return"			: "error",
		"curly"						: [ "error", "all" ],
		"eqeqeq"					: "error",
		"no-else-return"			: "error",
		"no-eval"					: "error",
		"no-extend-native"			: "error",
		"no-extra-bind"				: "error",
		"no-fallthrough"			: "error",
		"no-floating-decimal"		: "error",
		"no-implied-eval"			: "error",
		"no-labels"					: "error",
		"no-lone-blocks"			: "error",
		"no-loop-func"				: "error",
		"no-multi-spaces"			: "error",
		"no-multi-str"				: "error",
		"no-native-reassign"		: "error",
		"no-new-func"				: "error",
		"no-new"					: "error",
		"no-redeclare"				: "error",
		"no-return-assign"			: "error",
		"no-script-url"				: "error",
		"no-self-compare"			: "error",
		"no-sequences"				: "error",
		"no-throw-literal"			: "error",
		"no-unused-expressions"		: "error",
		"no-void"					: "error",
		"no-with"					: "error",
		"radix"						: "error",
		"vars-on-top"				: "off",
		"wrap-iife"					: "error",
		"yoda"						: [ "error", "never" ],

		"global-strict"				: "off",
		"strict"					: [ "error", "global" ],

		"no-catch-shadow"			: "error",
		"no-delete-var"				: "error",
		"no-label-var"				: "error",
		"no-shadow-restricted-names"	: "error",
		"no-shadow"					: "error",
		"no-undef-init"				: "error",
		"no-undef"					: "error",
		"no-undefined"				: "error",
		"no-unused-vars"			: "error",
		"no-use-before-define"		: [ "error", "nofunc" ],

		"brace-style"				: "off",
		"camelcase"					: [ "error", { "properties" : "always" } ],
		"comma-spacing"				: [ "error", { "before": false, "after": true } ],
		"comma-style"				: [ "error", "last" ],
		"computed-property-spacing"	: [ "error", "always" ],
		"consistent-this"			: [ "error", "self" ],
		"eol-last"					: "error",
		"indent"					: [ "off", "tab" ],
		"key-spacing"				: [ "off", { "align" : "colon" } ],
		"lines-around-comment"		: "off",
		"linebreak-style"			: [ "error", "unix" ],
		"max-nested-callbacks"		: [ "error", 3 ],
		"new-cap"					: [ "error", { "capIsNewExceptions" : [ "Throw" ] } ],
		"new-parens"				: "error",
		"newline-after-var"			: [ "error", "always" ],
		"no-array-constructor"		: "error",
		"no-lonely-if"				: "error",
		"no-mixed-spaces-and-tabs"	: [ "error", "smart-tabs" ],
		"no-multiple-empty-lines"	: [ "error", { "max": 2 } ],
		"no-nested-ternary"			: "error",
		"no-new-object"				: "error",
		"no-spaced-func"			: "error",
		"no-trailing-spaces"		: [ "error", { "skipBlankLines" : true } ],
		"no-unneeded-ternary"		: "error",
		"object-curly-spacing"		: [ "error", "always" ],
		"one-var"					: "off",
		"operator-linebreak"		: [ "error", "after" ],
		"quotes"					: "off",
		"semi-spacing"				: [ "error", { "before": false, "after": true } ],
		"semi"						: [ "error", "always" ],
		"sort-vars"					: "off",
		"keyword-spacing"			: [ "error", { "before" : true, "after" : true, "overrides" : { "if": { "after": false }, "for": { "after": false }, "while": { "after": false }, "catch": { "after": false }, "switch": { "after": false } } } ],
		"space-before-blocks"		: [ "error", "always" ],
		"space-before-function-paren"	: [ "error", { "anonymous": "never", "named": "never", "asyncArrow": "always" } ],
		"space-in-parens"			: [ "error", "always" ],
		"space-infix-ops"			: "error",
		"space-unary-ops"			: [ "error", { "words": true, "nonwords": false } ],
		"spaced-comment"			: "off",
		"wrap-regex"				: "error",

		"max-depth"					: [ "error", 4 ],
		"max-len"					: [ "error", 140 ],
		"max-params"				: [ "error", 5 ],
		"max-statements"			: [ "error", 20 ],
		"no-bitwise"				: "error",

		"node/no-missing-import"		: "error",
		"node/no-missing-require"		: "error",
		"node/no-unpublished-import"	: "error",
		"node/no-unpublished-require"	: "error",
		"node/process-exit-as-throw"	: "error",
		"node/shebang"					: "error",

		"filenames/match-regex"			: [ "error", "^[a-z0-9\\-\\.]+$", true ],

		"security/detect-unsafe-regex"						: "error",
		"security/detect-buffer-noassert"					: "error",
		"security/detect-child-process"						: "error",
		"security/detect-disable-mustache-escape"			: "off",
		"security/detect-eval-with-expression"				: "off",
		"security/detect-no-csrf-before-method-override"	: "off",
		"security/detect-non-literal-fs-filename"			: "off",
		"security/detect-non-literal-regexp"				: "error",
		"security/detect-non-literal-require"				: "off",
		"security/detect-object-injection"					: "off",
		"security/detect-possible-timing-attacks"			: "off",
		"security/detect-pseudoRandomBytes"					: "off"
	},

	"plugins" : [
		"filenames",
		"node",
		"security"
	],

	"parserOptions" : {
		"ecmaVersion"	: 2017,
		"sourceType" : "module"
	}

}
